{block content}

<script>
    $(document).ready(function() {
        $("a.editremove").click(function() {
            var action = $(this).attr("data-actions");
            $.nette.ajax({
                'url': {link setEdit!},
                'data': {
                    postId: $(this).attr("data-postId")
                },
                start: function () {
                    var icon = $('<i>', { class: 'icon-gear icon-spin icon-4x' });

                    spinner = spinner.append(icon);
                    spinner.appendTo('body');
                    spinner.html("<div style='position: absolute; top: 45px; left: -95px; font-size: 50px; color: rgb(204, 204, 204); text-shadow: 0px 0px 16px rgb(0, 0, 0);'>Načítám...</div>");
                    spinner.show();
                },
                complete: function () {
                    spinner.hide();
                    if (action == "edit") {
                        $('#modalEdit').modal('show');
                    } else if (action == "remove") {
                        $('#modalRemove').modal('show');
                    }
                }
            });
        });
    });
</script>
<div class="row">
    <div class="col-md-12">
        <h1 class="top-liner-white">Seznam všech příspěvků</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-8">
        <h2 class="top-liner-white">Nastavení</h2>
        <div class="row left-liner-white">
            {if !$posts}
                <div class="col-xs-12">
                    Nejsou k dispozici žádné příspěvky
                </div>
            {else}
                <div class="col-xs-12 hr-liner"><hr></div>
                <div class="col-xs-4">
                    Název příspěvku
                </div>
                <div class="col-xs-2">
                    Typ
                </div>
                <div class="col-xs-2">
                    Tagy
                </div>
                <div class="col-xs-2">
                    Priorita
                </div>
                <div class="col-xs-2">
                    Akce
                </div>
                <div class="col-xs-12 hr-liner"><hr></div>
            {/if}
            {foreach $posts as $t}
                <div class="col-xs-4">
                    <a n:href="detail, $t->id">{$t->name}</a>
                </div>
                <div class="col-xs-2">
                    {$t->id_type ? $t->type->name : "<i class='fa fa-remove red'></i>" |noescape}
                </div>
                <div class="col-xs-2">
                    {var $tags = $t->related("post_tag.id_post")}
                    {count($tags) == 0 ? "<i class='fa fa-remove red'></i>" : "" |noescape}
                    {var $first = true}
                    {foreach $tags as $tag}
                        {if $first}
                            {$tag->tag->name}
                            {var $first = false}
                        {else}
                            & {$tag->tag->name}
                        {/if}
                    {/foreach}
                </div>
                <div class="col-xs-2">
                    {$t->priority ? $t->priority : "<i class='fa fa-remove red'></i>" |noescape}
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-xs btn-success" n:href="edit, $t->id"><i class="fa fa-pencil"></i></a>
                    <a data-actions="remove" data-postId="{$t->id}" class="btn btn-xs btn-danger editremove" data-toggle="modal" data-target="#modelRemove"><i class="fa fa-remove"></i></a>
                </div>
                <div class="col-xs-12 hr-liner"><hr></div>
            {/foreach}
        </div>
    </div>
    <div class="col-xs-4">
        <h2 class="top-liner-white">Možnosti</h2>
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-block btn-warning" n:href="create"><i class="fa fa-plus"></i> Přidat</a>
            </div>
        </div>
    </div>
</div>


{snippet modalRemove}
    {if $edit}
        <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Smazání příspěvku</h4>
                    </div>
                    <div class="modal-body">
                        <p>Opravdu chcete smazat příspěvěk "{$edit->name}"?</p>
                    </div>
                    <div class="modal-footer">
                        <a n:href="deletePost!, $edit->id" class="btn btn-danger">Ano</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {/if}
{/snippet}