{block content}
<div class="row">
    <div class="col-md-12">
        <h1 class="top-liner-white">Příspěvěk - {$post->name}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2 class="top-liner-white">
            Detail
            <a class="btn btn-xs btn-success" n:href="edit, $post->id"><i class="fa fa-pencil"></i></a>
        </h2>
        <div class="row left-liner-white">

            <div class="col-xs-12 hr-liner"><hr></div>

            <div class="col-xs-4">
                <div class="group">
                    <span class="group-header">Typ</span>
                    {$post->id_type ? $post->type->name : "<i class='fa fa-remove red'></i>" |noescape}
                </div>
            </div>

            <div class="col-xs-4">
                <div class="group">
                    <span class="group-header">Tagy</span>
                    {var $tags = $post->related("post_tag.id_post")}
                    {count($tags) == 0 ? "<i class='fa fa-remove red'></i>" : "" |noescape}
                    {var $first = true}
                    {foreach $tags as $tag}
                        {if $first}
                            {$tag->tag->name}
                            {var $first = false}
                        {else}
                            & {$tag->tag->name}
                        {/if}
                    {/foreach}
                </div>
            </div>

            <div class="col-xs-4">
                <div class="group">
                    <span class="group-header">Priorita</span>
                    {$post->priority ? $post->priority : "<i class='fa fa-remove red'></i>" |noescape}
                </div>
            </div>

            <div class="col-xs-12 hr-liner"><hr></div>

            <div class="col-xs-12">
                <div class="group">
                    <span class="group-header">Krátký text</span>
                    {$post->short_text ? $post->short_text : "Není uveden" |noescape}
                </div>
            </div>

            <div class="col-xs-12 hr-liner"><hr></div>

            <div class="col-xs-12">
                <div class="group">
                    <span class="group-header">Dlouhý text</span>
                    {$post->long_text ? $post->long_text : "Není uveden" |noescape}
                </div>
            </div>

            <div class="col-xs-12 hr-liner"><hr></div>

            <div class="col-xs-6">
                <div class="group">
                    <span class="group-header">Vlastnosti</span>
                    {$post->properties ? $post->properties : "Není uvedeno" |noescape}
                </div>
            </div>

            <div class="col-xs-6">
                <div class="group">
                    <span class="group-header">Cena</span>
                    {$post->price ? $post->price : "Není uvedeno" |noescape}
                </div>
            </div>

            <div class="col-xs-12 hr-liner"><hr></div>

        </div>
    </div>
</div>