{block content}
<div class="row">
    <div class="col-md-12">
        <h1 class="top-liner-white">Editace příspěvku</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2 class="top-liner-white">
            Detail
        </h2>
        <div class="row left-liner-white">
            {form editForm}
                <div class="col-xs-12 hr-liner"><hr></div>

                <div class="col-xs-4">
                    <div class="group">
                        <span class="group-header">Název příspěvku</span>
                        {input name}
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="group">
                        <span class="group-header">Typ</span>
                        {input id_type}
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="group">
                        <span class="group-header">Priorita</span>
                        {input priority}
                    </div>
                </div>

                <div class="col-xs-12 hr-liner"><hr></div>

                <div class="col-xs-12">
                    <div class="group">
                        <span class="group-header">Krátký text</span>
                        {input short_text}
                    </div>
                </div>

                <div class="col-xs-12 hr-liner"><hr></div>

                <div class="col-xs-12">
                    <div class="group">
                        <span class="group-header">Dlouhý text</span>
                        {input long_text}
                    </div>
                </div>

                <div class="col-xs-12 hr-liner"><hr></div>

                <div class="col-xs-6">
                    <div class="group">
                        <span class="group-header">Vlastnosti</span>
                        {input properties}
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="group">
                        <span class="group-header">Cena</span>
                        {input price}
                    </div>
                </div>

                <div class="col-xs-12 hr-liner"><hr></div>

                <div class="col-xs-12" n:if="$form->hasErrors()">
                    <div class="group">
                        <span class="group-header red">Chyby</span>
                        <ul>
                            <li n:foreach="$form->errors as $error">{$error}</li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="group">
                        <span class="group-header">Uložit</span>
                        {input save}
                    </div>
                </div>
            {/form}
        </div>
    </div>
</div>