/* Barevne schema
 *  purple - #9b59b6
 *  gray   - #34495e
 *  silver - #dbdbdb
 */

@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);
}
@font-face {
    font-family: MyriadPro-Light;
    src: url(../fonts/MyriadPro-Light.otf);
}

/* Snipper */

#ajax-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#ajax-spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

#ajax-spinner:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.95) 1.5em 0 0 0, rgba(255, 255, 255, 0.95) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.95) 0 1.5em 0 0, rgba(255, 255, 255, 0.95) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.5) -1.5em 0 0 0, rgba(255, 255, 255, 0.5) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.95) 0 -1.5em 0 0, rgba(255, 255, 255, 0.95) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.95) 1.5em 0 0 0, rgba(255, 255, 255, 0.95) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.95) 0 1.5em 0 0, rgba(255, 255, 255, 0.95) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.95) -1.5em 0 0 0, rgba(255, 255, 255, 0.95) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.95) 0 -1.5em 0 0, rgba(255, 255, 255, 0.95) 1.1em -1.1em 0 0;
}


@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/* Layout */
body {
    font-family: MyriadPro-Light, Helvetica, sans-serif !important;
}

h1, h2, h3, h4, h5 {
    padding: 5px 10px;
}

.navbar {
    min-height: 50px !important;
}

.graph, .big-graph {
    min-height: 100px;
    border: 1px solid #e3e3e3;
    margin-top: 30px;
    padding: 5px;
}
a.left-menu {
    display: block;
    width: 100%;
    height: 30px;
    background: transparent;
    color: #0f0f0f;
    padding:  5px 15px;
    text-decoration: none;
    position: relative;
}
a.left-menu, div.left-menu {
    display: block;
    width: 100%;
    height: 30px;
    background: transparent;
    color: #fff;
    margin-bottom: 5px;
    position: relative;
}
a.left-menu:hover {
    background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image: -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
    background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
    border-left: 2px solid #9b59b6;
    color: #0f0f0f;
    text-decoration: none;
}

.navbar-default {
    z-index: 1;
    margin-bottom: 0px;
    box-shadow: none;
    border: none;
    background-image: -webkit-linear-gradient(top, #34495e 0%, #9b59b6 100%);
    background-image: -o-linear-gradient(top, #34495e 0%, #9b59b6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#34495e), to(#9b59b6));
    background-image: linear-gradient(to bottom, #34495e 0%, #9b59b6 100%);
    border-radius: 0px;
}

.navbar-default .visible-xs a, .navbar-default .dropdown > a {
    color: #fff !important;
}
.navbar-default a:hover, .navbar-default a:active, .navbar-default a:focus, .left-menu.active {
    background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image: -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
    background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
    border-left: 2px solid #9b59b6;
    color: #0f0f0f !important;
    text-decoration: none;
}

.navbar-brand.big {
    padding: 15px;
    display:block;
    height: 110px;
    float: none;
}

.navbar-brand.big img {max-height: 80px; max-width: 100%;}

menu.left-menu {
    margin-top: 0px;
    margin-bottom: 0px;
    border-right: 1px solid #9b59b6;
    background: #2c3e50;
    -webkit-box-shadow: inset -15px -7px 55px #9b59b6;
    -moz-box-shadow: inset -15px -7px 55px #9b59b6;
    box-shadow: inset -15px -7px 55px #9b59b6;
    /*top: -35px;*/
    z-index: 10;
    position: absolute;
    top: 0px;
}

.left-menu-add {
    position: absolute;
    right: 25px;
    top: 5px;
    color: #fff;
}

div.left-menu:hover .left-menu-add, .left-menu.active {
    color: #0f0f0f;
}

.left-menu-add:hover {
    color: #9b59b6 !important;
}
.navbar-brand.navbar-toggle {
    border: none;
    background: none;
    padding: 0px;
    padding-left: 42%;
    float: left;
}
.navbar-brand.navbar-toggle img {
    max-height: 50px;
}
.navbar-brand.navbar-toggle:hover, .navbar-brand.navbar-toggle:active, .navbar-brand.navbar-toggle:focus {
    border: none;
    background: none;
}
body {
    background: #f3f3f4;
}

.top-liner-white {
    background: #fff;
    border-top: 2px solid #9b59b6;
    box-shadow: 5px 5px 20px #e5e5e5;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
}

.left-liner-white {
    background: #fff;
    border-left: 2px solid #9b59b6;
    box-shadow: 5px 5px 20px #e5e5e5;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
    margin-top: 10px;
}

.hr-liner {margin: 0;}
.hr-liner hr {margin-bottom: 5px; margin-top: 5px;}

div.flash-message {
    position: absolute;
    top: 80px;
    right: 30px;
    z-index: 30;
}

div.flash-message .flash {
    background: #2c3e50;
    color: #fff !important;
    padding: 10px;
    margin-bottom: 20px;
    border-left: 2px solid #9b59b6;
    box-shadow: 5px 5px 20px #e5e5e5;
    width: 200px;
}

.flash-message .flash.danger {
    border-color: #e74c3c;
}
.flash-message .flash.success {
    border-color: #27ae60;
}
.flash-message .flash.warning {
    border-color: #d35400;
}

.login-box {
    margin-top: 10%;
}

.box-title {
    text-align: center;
    font-weight: bold;
}

.form-group input {
    border-radius: 0px;
}

.btn-was {
    background-image: -webkit-linear-gradient(top, #34495e 0%, #9b59b6 100%);
    background-image: -o-linear-gradient(top, #34495e 0%, #9b59b6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#34495e), to(#9b59b6));
    background-image: linear-gradient(to bottom, #34495e 0%, #9b59b6 100%);
    border-radius: 0px;
    color: #fff;
    border: none;
}
.btn-was:hover, .btn-was:active, .btn-was:focus {
    background: #fff;
    background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image: -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
    background-image: linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
    box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
    border: none;
    border-top: 2px solid #9b59b6;
    color: #0f0f0f !important;
    text-decoration: none;
}
.top-liner-white-without-margin {
    background: #fff;
    border-top: 2px solid #9b59b6;
    box-shadow: 5px 5px 20px #e5e5e5;
    padding: 10px;
}

.red {color: #e74c3c;}

.group {
    background: #fff;
    border: 2px solid #dbdbdb;
    box-shadow: 2px 2px 20px #efefef;
    width: auto;
    min-height: 50px;
    padding: 14px;
    margin-bottom: 5px;
    color: #34495e;
    font-weight: bold;
    position: relative;
}

.group .group-header {
    position: absolute;
    background: #fff;
    top: -8px;
    left: 0;
    font-size: 80%;
    line-height: normal;
    padding: 3px;
}